<body>
    <!-- header section -->
    <header class="main-header">
        <div class="header-container">
            <nav class="header-nav">
                <a class="logo">
                    <svg width="19" height="19">
                        <use href="/src/images/svg/logo.svg"></use>
                    </svg>
                    <span class="title">thewatchspot</span>
                </a>
                <ul class="nav-list">
                    <li>
                        <a href="">ABOUT US</a>
                    </li>
                    <li>
                        <a href=" menu-list">CATALOG</a>
                    </li>
                    <li>
                        <a href="menu-list">SALE</a>
                    </li>

                </ul>
            </nav>
            <address class="address">
                <a href="">+380 (68) 443-94-26</a>
            </address>
        </div>
    </header>
  
</body>

</html>